/* Inisialisasi warna */
:root {
  --primary: #b6895b;
  --bg: #fffbf5;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #c8a287;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(252, 248, 243);
  height: 50px;
  align-items: center;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  font-style: italic;
}

.navbar .logo span {
  color: #4d3f28;
}

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

.navbar .navbar-nav a {
  color: rgb(252, 248, 243);
  text-decoration: none;
  font-size: 1em;
}

#hamburger-menu {
  display: none;
}

/* Responsive breakpoint */

/* ukuran laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* ukuran tablet*/
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #972929;
    width: 30rem;
    height: 100vh;
  }
}
/* ukuran mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Slider image home */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Menu Section */
.menu {
  padding: 0px;
  background-color: #cfb4ac;
  text-align: center;
}

.menu h2 {
  color: #fff;
  padding-top: 50px;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 29rem;
  margin: auto;
  color: #222;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  margin: 29px;
  background-color: #fff;
}

.menu .row .menu-card img {
  width: 100%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  color: #cfb4ac;
}

.menu .row .menu-card .menu-card-price {
  color: #cfb4ac;
  padding: 7px;
}
.menu .row .meet-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d9d9d9; /* Warna latar belakang kartu */
  margin: 80px; /* Jarak antar kartu */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Warna teks di dalam kartu */
}

/* About Section */
.about {
  margin-top: 4rem;
}

/* style line 59 */
.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  color: #000;
}

.menu h2 {
  color: #fff;
  padding-top: 50px;
}

/* style khusus kata 'Tentang' line 59 */
.about h2 span,
.menu h2 span,
.products h2 span,
.container h2 span,
.contact h2 span {
  color: var(--primary);
}

/* Mudah mengatur display style */
.about .row {
  display: flex;
}

/* atur ukuran flex */
.about .row .about-img {
  flex: 1 1 45rem;
}

/* atur ukuran gambar */
.about .row .about-img img {
  width: 100%;
  height: 100%;
}

/* atur daleman content */
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-left: 50px;
}

/* atur ukuran h3 */
.about .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* atur ukuran daleman p */
.about .row .content p {
  font-size: 1.7rem;
  color: #4d3f28;
}

.about .row .content h4 {
  font-size: 2rem;
  color: #4d3f28;
}

.about h2 {
  padding-bottom: 20px;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 29rem;
  margin: auto;
  color: #222;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  margin: 29px;
  background-color: #fff;
}

.menu .row .menu-card img {
  width: 100%;
}

.menu .row .menu-card .menu-pilihan {
  margin: 1rem auto 0.5rem;
  color: #cfb4ac;
}

.menu .row .menu-card .menu-card-price {
  color: #cfb4ac;
  padding: 7px;
}
.menu .row .meet-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d9d9d9; /* Warna latar belakang kartu */
  margin: 80px; /* Jarak antar kartu */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Warna teks di dalam kartu */
}

/* Menu  */
/* Menu pilihan Sections */
.products {
  padding-top: 2rem;
}
.products .row {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
}

.products .product-card {
  text-align: center;
}
.navbar .navbar-nav a {
  color: rgb(252, 248, 243);
  text-decoration: none;
  font-size: 1em;
}
.products a {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
}
.products a:hover {
  background-color: #d9d9d9;
  border: #d9d9d9;
}

.products .product-image img {
  height: 15rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* Menu Makanan */
.container {
  padding-top: 4rem;
}
.container .row {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 25%;
  justify-content: center;
}

.container .product-makanan {
  text-align: center;
}

.container .product-makanan img {
  height: 15rem;
}

/* button search */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #92ccfc;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.contact .judul {
  margin-top: 7rem;
}

.contact .row {
  display: flex;
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: #fffbf5;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row .sosmed {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row .sosmed .sosmed-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row .sosmed .sosmed-group a {
  color: #b6895b;
}

.contact .row .sosmed .sosmed-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}
