* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #c8a287;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(252, 248, 243);
  height: 50px;
  align-items: center;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  font-style: italic;
}

/* nav .logo span {
  color: var(--primary); 
} */

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

.navbar .navbar-nav a {
  color: rgb(252, 248, 243);
  text-decoration: none;
  font-size: 0.8em;
}

#hamburger-menu {
  display: none;
}

/* Responsive breakpoint */

/* ukuran laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* ukuran tablet*/
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #972929;
    width: 30rem;
    height: 100vh;
  }
}
/* ukuran mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
