/* Inisialisasi warna */
:root {
  --primary: #b6895b;
  --bg: #FFFBF5;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #c8a287;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: rgb(252, 248, 243);
  height: 50px;
  align-items: center;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  font-style: italic;
}


.navbar .logo span{
  color: #4D3F28;
}
 

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

.navbar .navbar-nav a {
  color: rgb(252, 248, 243);
  text-decoration: none;
  font-size: 1em;
}

#hamburger-menu {
  display: none;
}

/* Responsive breakpoint */

/* ukuran laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/* ukuran tablet*/
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #972929;
    width: 30rem;
    height: 100vh;
  }
}
/* ukuran mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}


/* Slider image home */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Menu Section */
.menu{
  padding: 0px;
  background-color: #CFB4AC;
  text-align: center;
}

.menu h2{
  color: #fff;
  padding-top: 50px;
}

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 29rem;
  margin: auto;
  color: #222;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  margin: 29px;
  background-color: #fff;
}

.menu .row .menu-card img {
  width: 100%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  color: #CFB4AC;
}

.menu .row .menu-card .menu-card-price {
  color: #CFB4AC;
  padding: 7px;
}
.menu .row .meet-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D9D9D9; /* Warna latar belakang kartu */
  margin: 80px; /* Jarak antar kartu */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Warna teks di dalam kartu */
}

/* About Section */
.about,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.menu{
  padding: 0px;
  background-color: #CFB4AC;
  text-align: center;
}

/* style line 59 */
.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  color :#000;
}

.menu h2{
  color: #fff;
  padding-top: 50px;
}


/* style khusus kata 'Tentang' line 59 */
.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}

/* Mudah mengatur display style */
.about .row {
  display: flex;
}

/* atur ukuran flex */
.about .row .about-img {
  flex: 1 1 45rem;
}

/* atur ukuran gambar */
.about .row .about-img img {
  width: 100%;
  height: 100%;
}

/* atur daleman content */
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-left: 50px;
}

/* atur ukuran h3 */
.about .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

/* atur ukuran daleman p */
.about .row .content p {
  font-size: 1.7rem;
  color: #4D3F28;
}

.about .row .content h4 {
  font-size: 2rem;
  color: #4D3F28;
}

.about h2{
  padding-bottom: 20px;
}

/* Menu Section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p {
  text-align: center;
  max-width: 35rem;
  margin: auto;
  color: #222;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  margin: 29px;
  background-color: #fff;
}

.menu .row .menu-card img {
  width: 100%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
  color: #CFB4AC;
}

.menu .row .menu-card .menu-card-price {
  color: #CFB4AC;
  padding: 7px;
}
.menu .row .meet-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D9D9D9; /* Warna latar belakang kartu */
  margin: 80px; /* Jarak antar kartu */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Warna teks di dalam kartu */
}


/* Products Sections */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products .makanan-card {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #696969;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.products .product-image img {
  height: 25rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

.products p{
  text-align: center;
}

.products .row .product-card .cta {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.4rem 5rem;
  color: #fff;
  background-color: #b6895b;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.products .row .makanan-card .cta {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #b6895b;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.contact .judul {
  margin-top: 7rem;
}

.contact .row {
  display: flex;
  margin-top: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: #FFFBF5;
}

.contact .row .sosmed {
  flex: 1 1 45rem;
  padding: 2rem;
  text-align: center;
}

.contact .row .sosmed .sosmed-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row .sosmed .sosmed-group a {
  color: #b6895b;
}

.contact .row .sosmed .sosmed-group input {
  width: 100%;
  font-size: 1.7rem;
  background: none;
  color: #fff;
  border: none
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #eee; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #b6895b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #a1764a;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #FFFBF5;
  padding: 20px;
}

